NET "btn1" LOC = AB4 | IOSTANDARD = LVCMOS33;
NET "btn2" LOC = AA4 | IOSTANDARD = LVCMOS33;
NET "led1" LOC = B16 | IOSTANDARD = LVCMOS33 | SLEW = QUIETIO | DRIVE = 24;
NET "led2" LOC = A16 | IOSTANDARD = LVCMOS33 | SLEW = QUIETIO | DRIVE = 24;
